body {
    background-color: black;
    color: #fff;
}

.Detail-box {
    display: flex;
    margin: 100px auto;
    width: 75%;
    height: 85vh;
    background-color: #1c1c1c;
    border: 2px solid #424242;
    border-radius: 10px;
    position: relative;
}

.back {
    border: 20px solid #fff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: flex;
    position: absolute;
    left: 95%;
    top: 2%;
}

.Detail-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.Detail-img-box img {
    width: 400px;
}

.Detail-movie-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 500px;
}

.Detail-title {
    display: flex;
    justify-content: center;
    width: 600px;
    margin-bottom: 50px;
}

.Detail-genres-item {
    display: flex;
    font-size: 20px;    
}

.rating-year {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}