body {
    background-color: black;
}

.summary {
    color: #fff;
}

.genres-item {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #dadada;
    margin-top: 10px;
}

.genres-list {
    margin: 8px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}