body {
    background-color: black;
    color: #fff;
}

.Detail-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.Detail-img-box {
    margin: 0 50px;
}

.Detail-img-box img {
    width: 400px;
}

.Detail-movie-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 2px solid red;
}

.Detail-title {
    display: flex;
    justify-content: center;
    width: 500px;
    margin-bottom: 50px;
}

.Detail-genres-item {
    display: flex;
    font-size: 20px;
    border: 2px solid #fff;
}

.rating-year {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}