li {
    list-style: none;
}

.movie-box {
    width: 1200px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 2px solid #dadada;
}

.movie-img {
    width: 350px;
    z-index: 3;
    border: 2px solid blue;
}