li {
    list-style: none;
}

.movie-box {
    width: 1200px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie-list {
    background-color: gray;
    width: 500px;
    height: 600px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
}

.movie-img {
    scale: 90%;
    z-index: 3;
    border: 2px solid blue;
}